body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
  
.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white
}

.content {
    animation: fade-in 2s ease-out forwards;
    opacity: 0;
    padding: 100px;
}
  
.splash-screen {
    color: white;
    font-size: 3rem;
    align-self: center;
    animation: fade-out 2s ease-out forwards;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 50px;
  }

.navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: black;
    min-width: 160px;
    z-index: 1;
}

.dropdown a {
    padding: 12px 16px;
    display: block;
}

.navbar:hover .dropdown {
    display: block;
}  

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  