@tailwind base;
@tailwind components;
@tailwind utilities;

 @font-face {
    font-family: 'SF Pro Regular';
    font-weight: 400;
    font-style: normal;
    src: url('../public/fonts/SF-Pro-Text-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'SF Pro Display Thin';
    font-weight: 400;
    font-style: normal;
    src: url('../public/fonts/SF-Pro-Display-Thin.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'SF Pro';
    font-weight: 1000;
    font-style: normal;
    src: url('../public/fonts/SF-Pro-Text-Bold.otf') format('opentype');
  }  
  /* Add additional @font-face rules for any other weights or styles you need */
  
  body {
    font-family: 'SF Pro';
    overflow: overlay;
  }

  p, button, h3, li, textarea {
    font-family: 'SF Pro Regular';
  }

  /* h3, li {
    font-family: 'SF Pro Display Thin';
  } */

  @media (max-height: 260px) {
    #arrow {
      display: none;
    }
  }
  

  /* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(to bottom, #0284c7, #7e22ce); */
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

#horizontal::-webkit-scrollbar-thumb{
  background-color: rgb(107 114 128);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

#messages::-webkit-scrollbar-thumb {
  background-color:rgb(229 231 235);
  background-clip: content-box;
  border-radius: 0px;
  border: 0px solid transparent;
}

#messages::-webkit-scrollbar {
  width: 10px;
}
  